APP_ENV=production
APP_DEBUG=false
APP_URL=https://cbt.example.com

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=voracbt
DB_USERNAME=voracbt_user
DB_PASSWORD=__SET_IN_SECRET_STORE__

QUEUE_DRIVER=database
CACHE_DRIVER=file

JWT_SECRET=__ROTATE_EVERY_90_DAYS__
SMS_OAUTH_CLIENT_ID=__SET_IN_SECRET_STORE__
SMS_OAUTH_CLIENT_SECRET=__SET_IN_SECRET_STORE__
