APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=voracbt_local
DB_USERNAME=root
DB_PASSWORD=

QUEUE_DRIVER=database
CACHE_DRIVER=file

JWT_SECRET=local-dev-secret
SMS_OAUTH_CLIENT_ID=dev-client
SMS_OAUTH_CLIENT_SECRET=dev-secret
